

</head>
    <body bgcolor="#EEEEEE" text="#000000">

        <h1>Formulaire de reservation de salle</h1>
        <p>Les champs avec * sont obligatoires</p>
        <form name="formulaire" action="mailto:badec@gmail.com" method="post" onSubmit="return verif_formulaire()">
        <pre>

Nom:     <input type="text" size="40" name="nom">
Mot de Passe:  <input type="text" size="40" name="mot_de_passe"> <form>
Courriel:   <input type="text" size="40" name="courriel">
Âge:    <input type="text" size="40" name="age">

formulaire: <input type="submit" value="Envoyer"><input type="reset" value="Tout enlever">

Pour envoyer vous devez être connecté à Internet!
</pre>
</form>

</body>
</html>